@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 90%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  a {
    @apply text-blue-800 hover:text-blue-600 hover:no-underline dark:text-blue-400 dark:hover:text-blue-200 cursor-pointer;
  }

  a:visited {
    @apply text-purple-800 hover:text-purple-600 dark:text-purple-400 dark:hover:text-purple-200 cursor-pointer;
  }
}

@layer components {
  .h1-header {
    @apply text-3xl md:text-5xl font-extrabold tracking-tighter leading-tight;
  }

  .h2-header {
    @apply text-2xl md:text-4xl font-bold tracking-tight md:tracking-tighter leading-tight;
  }

  .h3-header {
    @apply text-xl md:text-3xl font-semibold tracking-normal leading-snug;
  }

  .h4-header {
    @apply text-lg md:text-2xl font-medium tracking-normal leading-snug;
  }

  .h5-header {
    @apply text-base md:text-xl font-medium tracking-normal leading-normal;
  }

  .h6-header {
    @apply text-sm md:text-lg font-medium tracking-wide leading-normal;
  }

  .text-tagline {
    @apply text-sm md:text-base text-muted-foreground;
  }

  .nav-link {
    @apply text-neutral-600 hover:text-neutral-800 dark:text-neutral-400 dark:hover:text-white hover:no-underline transition-colors duration-200;
  }

  a.nav-link {
    @apply text-neutral-600 hover:text-neutral-800 dark:text-neutral-400 dark:hover:text-white hover:no-underline transition-colors duration-200;
  }

  a.nav-link:visited {
    @apply text-neutral-600 hover:text-neutral-800 dark:text-neutral-400 dark:hover:text-white;
  }
}
